* {
	-fx-margin: 5;
	-fx-padding: 5;
	-fx-background-color: white;
	-fx-alignment: center;
}

.button {
	-fx-border-style: solid;
	-fx-border-width: 1;
	-fx-border-color: black;
	-fx-border-radius: 30 4 30 4;
	-fx-background-color: linear-gradient(to right, white, gray, white);
	-fx-text-fill: #1f1f60;
	-fx-text-align: center;
    -fx-font-size: 16px;
	-fx-font-weight: bold;
	-fx-letter-spacing: 2px;
	-fx-padding: 10;
}

.button:hover {
    -fx-background-color: linear-gradient(to right, white, #204060, white);
}

.label {
	-fx-background-color: white;
	-fx-text-fill: black;
	-fx-text-align: left;
    -fx-font-size: 14px;
	-fx-font-weight: bold;
	-fx-letter-spacing: 2px;
	-fx-padding: 10;
    -fx-effect: dropshadow(gaussian, rgba(255,255,255,0.5), 0,0,0,1);
}

.text-field {
	-fx-text-fill: gray;
	-fx-text-align: left;
    -fx-font-size: 14px;
    -fx-font-style: italic;
	-fx-letter-spacing: 2px;
	-fx-padding: 10;
	-fx-min-width: 250;
}

.choice-box {
	-fx-background-color: #ebebeb;
    -fx-font-size: 16px;
	-fx-font-weight: bold;
	-fx-letter-spacing: 2px;
	-fx-padding: 10;
}

.media-player {
	-fx-border-style: solid;
	-fx-border-width: 1;
	-fx-border-color: black;
}

.scroll-pane {
    -fx-background-color: #ebebeb;
}

.scroll-pane > .corner {
    -fx-background-color: #ebebeb;
}

 .scroll-bar:horizontal, .scroll-bar:vertical {
    -fx-background-color:transparent;
}

.scroll-bar:horizontal .track, .scroll-bar:vertical .track {
    -fx-background-color: white;
}

.scroll-bar:horizontal .thumb, .scroll-bar:vertical .thumb {
    -fx-border-width: 1;
	-fx-border-color: gray;
    -fx-background-radius: 4;
    
}

.scroll-bar:horizontal .thumb {
    -fx-background-color: linear-gradient(to bottom, white, gray, white);
}

.scroll-bar:vertical .thumb {
    -fx-background-color: linear-gradient(to right, white, gray, white);
}

.increment-button, .decrement-button {
    -fx-background-color: #ebebeb;
    -fx-border-width: 1;
	-fx-border-color: gray;
    -fx-background-radius: 5;
}
