* {
	-fx-margin: 5;
	-fx-padding: 5;
	-fx-background-color: white;
	-fx-alignment: center;
}

.button {
	-fx-border-style: solid;
	-fx-border-width: 1;
	-fx-border-color: black;
	-fx-border-radius: 30 4 30 4;
	-fx-background-color: linear-gradient(to right, white, gray, white);
	-fx-text-fill: brown;
	-fx-text-align: center;
    -fx-font-size: 16px;
	-fx-font-weight: bold;
	-fx-letter-spacing: 2px;
	-fx-padding: 10;
}

.button:hover {
    -fx-background-color: linear-gradient(to right, white, green, white);
}

.label {
	-fx-background-color: white;
	-fx-text-fill: black;
	-fx-text-align: left;
    -fx-font-size: 14px;
	-fx-font-weight: bold;
	-fx-letter-spacing: 2px;
	-fx-padding: 10;
    -fx-effect: dropshadow(gaussian, rgba(255,255,255,0.5), 0,0,0,1);
}

.text-field {
	-fx-text-fill: gray;
	-fx-text-align: left;
    -fx-font-size: 14px;
    -fx-font-style: italic;
	-fx-letter-spacing: 2px;
	-fx-padding: 10;
	-fx-min-width: 250;
}

.choice-box {
	-fx-background-color: #ebebeb;
    -fx-font-size: 16px;
	-fx-font-weight: bold;
	-fx-letter-spacing: 2px;
	-fx-padding: 10;
}

.media-player {
	-fx-border-style: solid;
	-fx-border-width: 1;
	-fx-border-color: black;
}